<div class="container">
  <div class="row">
    <div class="col-md-12  d-flex justify-content-center top">
      <!-- form card signup -->
      <div class="card bg-dark p-3 m-3 mx-auto top" style="width: 25rem;">
        <div class="panel-body">
          <div class="text-white">
            <h3 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p class="small text-mute text-center">If you've forgotten your password, we'll send you an email to reset your password.</p>
            <form #forgetForm="ngForm" novalidate>
            <div class="form-group px-3">
                <span class="text-white">Email: </span>
                <br>
                <label for="inputEmail" class="sr-only">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="background-color:#5cb85c; color:#fff;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>   
                  </div>
                </div>
                <input name="mail" id="inputEmail" class="form-control input-lg requiredField" [(ngModel)]="email" placeholder="Email address"
                  required autofocus #mail="ngModel">
              </div>
            </div>

          <div class="alert alert-danger mx-2" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
            <li><span *ngIf="mail.errors.required">Email address is required.</span></li>
          </div>
            <div class="form-group px-3">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!forgetForm.form.valid" (click)="sendResetLink()">Reset Password</button>
            </div>
            <div class="text-center text-white mt-3 p-3">Do you remember ur password? <a style="text-decoration: underline;color:#5cb85c;cursor: pointer;"
                (click)="goToSignIn()">Sign In</a></div>
                </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
