.page-conent{
    bottom: 0;
    min-height: 100vh;
  }

  .flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

.top{
  margin-top: 20vh;
}
  /* card */
  .card1{
    margin-top: 25vh;
    max-width: 360px;
  }
    label{
        color:#fff
    }

    @media screen and (max-width: 640px)
{
.page-conent{
  margin-left: 0px !important;
}
}