<app-nav-bar (messageEvent)="recieveMessage($event)"></app-nav-bar>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#0de353" type = "square-jelly-box"
></ngx-spinner>
<div class="page-conent" style="background-image: url(https://s3.ap-south-1.amazonaws.com/portfolio-cloud/assets/images/bg_3.png);" [ngStyle]="{ 'margin-left' : (showSidebar==true) ? '260px' : '0px'}">
  <div class="row mt-5 ">
      <div class="col-md-12  d-flex justify-content-center">
          <div class="card  p-3 mx-auto top" style="width:25rem;background-image: url(https://s3.ap-south-1.amazonaws.com/portfolio-cloud/assets/images/bg_1.png);">
        <h3 class="text-white text-center font-weight-bold">Change Password</h3>
        <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" novalidate>
          <div class="form-group">
            <label for="Password">New Password:</label>
            <div class="input-group">
              <input required type="password" class="form-control" name="password" [(ngModel)]="passWord"
                placeholder="Password" #password="ngModel" autocomplete="off" minlength="8" maxlength="30" appPassword>
            </div>
          </div>
          <div class="alert alert-danger mx-2"  *ngIf="password.invalid && (password.dirty || password.touched)">
              <li><span class="text-danger" *ngIf="password.errors.required">Password is required.</span></li>
              <li><span class="text-danger" *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </span></li>
              <li><span class="text-danger" *ngIf="password.errors.maxlength">Password must be less than 30 characters long.</span></li>
              <li><span class="text-danger" *ngIf="!password.errors.minlength && password.errors.pattern">First character must be a letter.</span></li>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm New Password:</label>
            <div class="input-group">
              <input name="confirmPassword" required type="password" class="form-control" placeholder="Confirm Password"
                [(ngModel)]="confirmpassword" #confirmPassword="ngModel" autocomplete="off" appPassword>
            </div>
          </div>
          <div class="alert alert-danger mx-2" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <li><span class="text-danger" *ngIf="confirmPassword.errors.required">Confirm Password is required.</span></li>
            </div>
            <div class="alert alert-danger mx-2" *ngIf="(password.dirty && confirmPassword.dirty)" [hidden]="(confirmPassword.value===password.value)" >
            <li> <span class="text-danger">Pasword and Confirm Password is not matched</span></li>
          </div>
             <div class="row">
              <div class="col-xs-12 col-md-6"></div>
              <div class="col-xs-12 col-md-6"><button type="submit" class="btn btn-success text-white btn-block btn-lg" [disabled]="!changePasswordForm.form.valid"
                  >Save</button></div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
