<div class="container">
  <div class="row ">
    <div class="col-md-12  d-flex justify-content-center">
      <!-- form card login -->
      <div class="card bg-dark p-3 mx-auto top" style="width:25rem;">
        <div class="panel-body">
          <div class="text-center text-white">
            <h2 class="text-center">Thank You</h2>
            <p class="text-center" style="font-size: 15px;">We sent an email to {{receiverName}} with instructions on how to reset your password.</p>
            <div class="text-center text-white mt-3 p-3">
                <button class="btn btn-success" (click)="goToSignIn()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    RETURN TO HOME
                  </button>
            </div>
            <p class="text-left" style="font-size: 15px;">If you didn’t receive this email:</p>
            <ul class="text-left">
              <li style="list-style-type: disc;">Refresh your inbox</li>
              <li style="list-style-type: disc;">Check your spam (or junk mail)</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
